<% if @tag_name != nil && !@isHeadline %>
  <a href="/headlines/new/<%= @tag_name %>">Add as Headline</a>
<% end %>

<div class="row">
  <div class="col-xs-8">
    <h1>Feeds</h1>
    <table class="table table-striped">
    <% for feed in @feeds %>
      <%= erb :feed_row_item, locals: { feed: feed } %>
    <% end %>
    </table>
  </div>

  <div class="col-xs-4">
    <h2 class="text-right">Add New</h2>
    <%= erb :new_feed_form %>

    <h2 class="text-right">Tags</h2>
    <%= erb :taglist, locals: {:tags => @tags } %>
  </div>
</div>
