<div class="row">
  <div class="col-xs-8">
    <h1>Feeds</h1>
    <table class="table table-striped">
    <% for feed in @feeds %>
      <tr>
        <td><a href="show/<%= feed._id %>"><%= feed.title %></a></td>
        <td><a href="delete/<%= feed._id %>" method="delete"><span class="glyphicon glyphicon-trash"></span></a></td>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="col-xs-4">
    <h2 class="text-right">Add New</h2>
    <form role="form" action="/new" method="post">
      <input class="form-control" name="url" placeholder="Enter URL..." />
    </form>
  </div>
</div>
