<div class="row">
  <div class="col-xs-8">
    <h1>Popular Feeds</h1>
    <table class="table table-striped">
    <% for feed in @popular_feeds %>
      <%= erb :feed_row_item, locals: { feed: feed } %>
    <% end %>
    </table>

    <h1>Recently Added Feeds</h1>
    <table class="table table-striped">
    <% for feed in @recent_feeds %>
      <%= erb :feed_row_item, locals: { feed: feed } %>
    <% end %>
    </table>

    <p><a href="/feeds" class="btn btn-info">View All</a></p>
  </div>

  <div class="col-xs-4">
    <h2 class="text-right">Add New</h2>
    <%= erb :new_feed_form %>

    <h2 class="text-right">Tags</h2>
    <%= erb :taglist, locals: {:tags => @tags } %>
  </div>
</div>
